* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #212121;
  /* color: #121212; */
}

/* 
Brown: #6d4c41
Green: #4caf50
Light green: #8bc34a
Yellow: #ffeb3b
Orange: #ff9800
Red: #f44336
 */

/* 
 Dark green: #2e7d32
Light green: #7cb342
Lime green: #cddc39
Teal: #009688
Light teal: #26a69a
Mint: #66bb6a
 */

/* MENU */

.hero {
  position: relative;
  height: 400px;

  display: flex;
  align-items: center;
  z-index: -1;
}

.relative {
  position: absolute;
  left: 15%;
  top: 5rem;
  z-index: 10;
}

blockquote {
  border-left: 5px solid red;
}

.about {
  padding: 2rem 0;
}

.mtop {
  margin-top: 3rem;
}

@media only screen and (max-width: 600px) {
  .mmtop {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 600px) {
  .ddown {
    margin-bottom: 3rem;
  }
}

.mdown {
  margin-bottom: 3rem;
}

.card {
  min-height: 220px;
}

.cards {
  padding: 2rem 1rem 0;
}

.row {
  margin-bottom: 0;
}

/* USLUGE */

.carousel .carousel-item > img {
  width: 270%;
  margin-left: -80%;
}

@media only screen and (max-width: 600px) {
  .second,
  .sixth {
    display: flex;
    flex-direction: column-reverse;
  }
  .carousel .carousel-item > img {
    width: 170%;
    margin-left: -35%;
  }

  #logo {
    height: 4.1rem;
  }
}

/* ZALIVNI SISTEMI */

.zal-one {
  background-image: url(img/zal/1.jpg);
}

.zal-two {
  background-image: url(img/zal/2.jpg);
}
.zal-three {
  background-image: url(img/zal/3.jpg);
}
.zal-four {
  background-image: url(img/zal/4.jpg);
}
.zal-five {
  background-image: url(img/zal/5.jpg);
}
.zal-six {
  background-image: url(img/zal/6.jpg);
}
.zal-seven {
  background-image: url(img/zal/7.jpg);
}

.zal-one,
.zal-two,
.zal-three,
.zal-four,
.zal-five,
.zal-six,
.zal-seven {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* KROVNE BAŠTE */

.kro-one {
  background-image: url(img/kro/1.jpg);
}

.kro-two {
  background-image: url(img/kro/2.jpg);
}
.kro-three {
  background-image: url(img/kro/3.jpg);
}
.kro-four {
  background-image: url(img/kro/4.jpg);
}
.kro-five {
  background-image: url(img/kro/5.jpg);
}
.kro-six {
  background-image: url(img/kro/6.jpg);
}
.kro-seven {
  background-image: url(img/kro/7.jpg);
}

.kro-one,
.kro-two,
.kro-three,
.kro-four,
.kro-five,
.kro-six,
.kro-seven {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* GALERIJA */
.gallery {
  position: relative;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
